<div class="hero_section">
    <div class="left">
        <div class="container">
            <h3 class="mt-3">Unique</h3>
            <h1 class="mt-5">Premium Car<br> Rental in Nairobi.</h1>
            <p>We have patnered with the world’s leading manufacture’s and brands <br> to create a cross border experience without having to sacrifice <br> the comfort of city rides.</p>
            <button class="btn1">Visit Our Fleet</button>
        </div>
    </div>
    <div class="right">
        <div class="container">
            <!-- navbar section -->
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="navbar-toggler-icon bi bi-list"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                        <a class="nav-link mt-3" href="#">Features</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link mt-3" href="#">Pricing</a>
                      </li>
                      <li style="margin-right: 57px;" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <img class="img-fluid profile__homeImg" src="assets/images/port-min.jpeg" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="#">View Profile</a></li>
                          <li><a class="dropdown-item" href="#"><small style="margin-right: 4px;"><i class="bi bi-box-arrow-left"></i></small>Logout</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            <!-- End of navbar section -->
        </div>
      <img class="img-fluid hero__car" src="assets/images/car.png" alt="">
    </div>
</div>
