<div class="container">
    <h1 class="text-center mt-5">Our Vehicle Fleet</h1>
    <p class="text-center">We provide our customers with the most incredible driving emotions.<br>
        That’s why we only have world class cars in our feet.
    </p>
    <div class="category__buttons mt-5">
        <button>All</button>
        <button>BENZ</button>
        <button>BMW</button>
        <button>PORSCHE</button>
        <button>TOYOTA</button>
        <button>TESLA</button>
    </div>
    <div class="gallery__section">
        <img class="img-fluid" src="assets/images/1.jpg" alt="">
        <img class="img-fluid" src="assets/images/1.jpg" alt="">
        <img class="img-fluid" src="assets/images/1.jpg" alt="">
        <img class="img-fluid" src="assets/images/1.jpg" alt="">
        <img class="img-fluid" src="assets/images/1.jpg" alt="">
        <img class="img-fluid" src="assets/images/1.jpg" alt="">
    </div>
</div>