.detail__img{
    border-radius: 15px;
    height: 380px;
}
h6{
    font-family: Poppins;
}
p{
    font-family: Nunito;
}
form > input{
    box-shadow: none;
    font-family: Nunito;
}
form > textarea{
    box-shadow: none;
    font-family: Nunito;
}
small{
    font-family: Nunito;
}
.btn1{
    background: #000;
    border: none;
    color: white;
    box-shadow: none;
    font-family: Nunito;
    height: 35px;
}
select{
    font-family: Nunito;
}